.chat_view_footer {
  background-color: white;
  display: flex;
  z-index: 1;

  & .message_input {
    resize: none;
    border: 0;
    outline: none;
    width: 100%;
    font-size: 15px;
    overflow: hidden;

    margin: 8px 0;
    margin-left: 5px;

    &::placeholder {
      user-select: none;
    }
  }

  & .send_button {
    height: 100%;
    user-select: none;
  }
}
