.message_view {
  width: 100%;

  direction: rtl;
  &.left_sided {
    direction: ltr;
  }

  & .outline {
    direction: ltr;
    position: relative;

    background-color: rgb(186, 255, 198);
    border-radius: 6px;

    width: intrinsic;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    max-width: 300px;

    margin: 4px 5px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.43);

    &.opponent_color {
      background-color: white;
    }

    display: flex;
    flex-wrap: wrap;

    & .message {
      display: inline-block;
      margin: 6px 8px;
      overflow-wrap: anywhere;
    }

    & .meta {
      margin-left: auto;
      margin-right: 4px;
      margin-bottom: 4px;
      margin-top: auto;
      font-size: 10px;
      opacity: 0.5;
    }
  }
}
